APP_NAME=drivstoffpriser
DEBUG=true
ALLOWED_ORIGINS=["http://localhost:8080","http://localhost:3000"]
DB_USER=dummy_postgres_user
DB_PASSWORD=dummy_postgres_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=drivstoffpriser
FIREBASE_SERVICE_ACCOUNT_B64=dummy_firebase_service_account_b64
